.header__subtitle {
  margin: 0;
  margin-left: 5px;
  font-size: 10px;
  color: #ffa900;
  text-shadow: 0 0 3vw #865900;
  cursor: pointer;
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%, 100% {
    color: #ffa900;
    text-shadow: 0 0 0vw #ffa900, 0 0 0vw #ffa900, 0 0 0vw #ffa900, 0 0 0vw #ffa900, 0 0 0vw #ffc759, 0vw 0vw 0vw #865900;
  }
  50% {
    color: #865900;
    text-shadow: 0 0 0.5vw #865900, 0 0 1.5vw #865900, 0 0 5vw #865900, 0 0 5vw #865900, 0 0 0.2vw #865900, 0.5vw 0.5vw 0.1vw #000000;
  }
}
