.popup__picture-image {
  object-fit: cover;
  object-position: center;
  max-width: 75vw;
  max-height: 75vh;
  border: 5px solid rgb(255 250 255 / 83%);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px 4px #fc0;
}
