.popup__title {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 48px;
  background: linear-gradient(
    179deg,#ffffff,#000000,#ffa900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -1px 1px #ffa900;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 75px;
    margin-left: 18px;
  }
}
