.element__trash-button {
  background-image: url(../../../images/trashbutton.svg);
  background-color: transparent;
  width: 18px;
  align-self: flex-end;
  height: 19.3px;
  background-repeat: no-repeat;
  background-size: 41px;
  margin-right: 18px;
  margin-top: 15px;
  position: absolute;
  border: 0;
  z-index: 2;
  background-position: center;
  cursor: pointer;
  box-shadow: 0px 0px 35px 5px rgb(255 0 0);
  transition: 1s;
}

.element__trash-button:hover{
  box-shadow: 0px 0px 15px 5px rgb(255 0 0);
  /*opacity: 0.6;*/
  transition: 1s;
  transform: scale(1.1);
}
