.footer {
  width: 72%;
  display: flex;
  margin-top: 5.2%;
  padding-bottom: 54px;
}

@media screen and (max-width: 540px) {
  .footer {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 36px;
  }
}
