.login-container__title {
  margin: 0;
  font-size: 24px;
  margin-top: 66px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    1deg, #fff, #9b9191, #fff);
  -webkit-background-clip: text;
}
